.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7) url(../../assets/images/background-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.home > h1 {
  font-size: 8rem;
  color: #fff;
}

.home__nav {
  margin-top: 4rem;
}

.home__nav-order, .home__nav-locations {
  padding: 2rem 4rem;
  margin: 0 3rem;
  color: #fff;
  background-color: #FF0000;
  font-weight: 700;
  border-radius: 3rem;
}
