@import '../../style/abstracts/variables/variables.scss';
@import '../../style/abstracts/functions/functions.scss';

.navbar {
    @include flex(row, space-between, center);
    position: absolute;
    top: 0;
    background-color: $clrBlack;
    color: $clrWhite;
    width: 100vw;
    padding: 1rem 5rem;

    &__left {
        &-logo {
            font-size: 3.2rem;
            color: $clrSecondary;
            cursor: pointer;
        }
    }

    &__right {

        &-info {
            @include flex(row, space-between, center);

            & > li {
                @include flex(row, center, center);
                margin-right: 2rem;
                text-transform: uppercase;
                cursor: pointer;
            }

            & > :nth-child(1) {
                padding-right: 2rem;  
                border-right: 1px solid;
            }
        }

        &-basket {
            font-size: 2.2rem;
        }

        &-user {
            margin-right: 2rem;
        }
    }


}
